# Milton saves
*.mlt
# imgui save
imgui.ini

src/template_expand
src/*.generated.h
src/*.generated.c

# Visual Studio crap
build/Milton.sln
build/Milton.exp
build/Milton.lib
third_party/SDL2-2.0.3/VisualC
*.vcxproj.user
*.sdf
*.opensdf
*.psess
*.vsp


*.sleepy

# SDL build
third_party/SDL2-2.0.3/Makefile
third_party/SDL2-2.0.3/Makefile.rules
third_party/SDL2-2.0.3/config.log
third_party/SDL2-2.0.3/config.status
third_party/SDL2-2.0.3/libtool
third_party/SDL2-2.0.3/sdl2-config
third_party/SDL2-2.0.3/sdl2.pc

# Linux build
build/milton
build/*.a
build/*.o
build/SKIP_HEADERLIBS
