src/libserg
src/metaprogram
src/*.generated.h

third_party/build

# Visual Studio crap
build/win_milton.sln
third_party/SDL2-2.0.3/VisualC
*.vcxproj.user
*.sdf
*.opensdf
*.psess
*.vsp
*.sleepy

# Android crap

android/.gradle
android/.idea
android/local.properties
android/build
android/app/build

# SDL build
third_party/SDL2-2.0.3/Makefile
third_party/SDL2-2.0.3/Makefile.rules
third_party/SDL2-2.0.3/config.log
third_party/SDL2-2.0.3/config.status
third_party/SDL2-2.0.3/libtool
third_party/SDL2-2.0.3/sdl2-config
third_party/SDL2-2.0.3/sdl2.pc
